@media only screen and (max-width: 522px) {
    nav{
        margin-bottom: 20px;
    }

    .main-container{
        min-width: 100%;
    }

    #weight, #height{
        width: 200px;
    }
}
